<div class="max-w-[550px] mx-auto bg-white rounded-lg shadow-md p-5 mb-10 ">


  <div class="flex items-start space-x-4">
    <img class="w-10 h-10 rounded-full overflow-hidden " [src]="inPost().user.photo" alt="User avatar">
    <div>
      <h3 class="font-semibold">{{inPost().user.name}}</h3>
      <p class="text-gray-500 text-sm">{{inPost().createdAt | date:'medium'}}</p>
    </div>
  </div>

  <div class="cursor-pointer" [routerLink]="['/post-details', inPost().id]">

    <p class="mt-4  text-gray-800">{{inPost().body}}</p>

    <div class="mt-4 ">
      <img [src]="inPost().image" alt="Post content" class="rounded-lg w-full ">
    </div>


  </div>



  <app-comment [CommentId]="inPost().id"></app-comment>





</div>