<!-- comment design -->
<div class="mt-4 pt-4 border-t flex items-center space-x-6 text-gray-500">
  <button #showComments class="flex items-center space-x-2 hover:text-blue-600 ">
    <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="M8 12h.01M12 12h.01M16 12h.01M21 12c0 4.418-4.03 8-9 8a9.863 9.863 0 01-4.255-.949L3 20l1.395-3.72C3.512 15.042 3 13.574 3 12c0-4.418 4.03-8 9-8s9 3.582 9 8z" />
    </svg>
    <span>{{postComments().length}}</span>
  </button>
</div>



<div class="overflow-auto max-h-80">
  @defer (on interaction(showComments)) {
  @for (Comment of postComments(); track $index) {
  <div class="bg-gray-100 p-2.5 rounded-lg mt-3 overflow-auto">
    <div class="flex items-start space-x-3">
      <img class="w-10 h-10 rounded-full overflow-hidden " src="/profile1.png" alt="User avatar">
      <div>
        <h3 class="font-semibold text-sm">{{Comment.commentCreator.name}}</h3>
        <p class="text-gray-500 text-xs">{{Comment.createdAt | date:'medium'}}</p>
      </div>
    </div>
    <div>
      <p class="text-gray-800 mt-2 ps-2 text-sm leading-relaxed">{{Comment.content}}</p>
    </div>
  </div>
  }
  }@placeholder {
  <div class="bg-gray-100 p-2.5 rounded-lg mt-3 overflow-auto">
    <div class="flex items-start space-x-3">
      <img class="w-10 h-10 rounded-full overflow-hidden " src="/profile1.png" alt="User avatar">
      <div>
        <h3 class="font-semibold text-sm">{{postComments()[0]?.commentCreator?.name}}</h3>
        <p class="text-gray-500 text-xs">{{postComments()[0]?.createdAt | date:'medium'}}</p>
      </div>
    </div>
    <div>
      <p class="text-gray-800 mt-2 ps-2 text-sm leading-relaxed">{{postComments()[0]?.content}}</p>
    </div>
  </div>

  }

</div>



<div>
  @if (errMsg()) {
  <span class="text-red-500">{{errMsg()}}</span>
  }
</div>

<form [formGroup]="commentForm" (ngSubmit)="submitForm()">
  <div class="mt-4 pt-4 ">
    <div class="flex items-center space-x-4">
      <img class="w-10 h-10 rounded-full overflow-hidden" src="route.jpg" alt="User avatar">
      <textarea id="chat" name="content" placeholder="Add a comment..." rows="1" formControlName="content"
        class="block flex-1 p-2.5 w-full text-sm text-gray-900 focus:outline-none bg-gray-100 rounded-lg border border-gray-300  focus:border-blue-500 "></textarea>
      <button type="submit" [disabled]="checkBtn()"
        class="inline-flex justify-center p-2 text-blue-600 rounded-full cursor-pointer hover:text-blue-800 disabled:cursor-not-allowed disabled:text-gray-600">
        <svg class="w-5 h-5 rotate-90 rtl:-rotate-90" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
          fill="currentColor" viewBox="0 0 18 20">
          <path
            d="m17.914 18.594-8-18a1 1 0 0 0-1.828 0l-8 18a1 1 0 0 0 1.157 1.376L8 18.281V9a1 1 0 0 1 2 0v9.281l6.758 1.689a1 1 0 0 0 1.156-1.376Z" />
        </svg>
        <span class="sr-only">Send message</span>
      </button>
    </div>
  </div>
</form>